@use "./../../../scss/abstracts/mixins" as *;

.form {
  @include flex-mother(row, center, flex-start);
  height: 3rem;
  padding-left: 1rem;
  margin-top: 3rem;
  background-color: var(--color-primary-300);
  border: 1px solid var(--color-neutral-300);
  border-radius: 6px;
  &__input {
    height: 100%;
    width: 100%;
    padding-left: 1rem;
    color: var(--color-primary-200);
    font-size: 1rem;
    border: none;
    background-color: transparent;
    font-family: inherit;
  }
}
