@use "./../../../scss/abstracts/mixins" as *;

.filter {
  @include flex-mother(row, center, space-between);
  position: relative;
  padding: 1rem;
  color: var(--color-primary-100);
  &__items {
    font-size: 0.833rem;
  }

  &__actions {
    @include flex-mother();
    gap: 1rem;
    @include media(28.75rem) {
      display: none;
    }
    &--mobile {
      display: none;
      margin-top: 10rem;
      background-color: var(--color-primary-300);
      padding: 1rem;
      border: 1px solid var(--color-neutral-300);
      border-radius: 6px;

      @include media(28.75rem) {
        display: flex;
        position: absolute;
        left: 0;
        width: 100%;
      }
    }
  }
}
