.todos-list {
  position: relative;
  margin-top: 3rem;
  background-color: var(--color-primary-300);
  border: 1px solid var(--color-neutral-300);
  border-radius: 6px;
  &__results {
    padding: 1rem;
    color: var(--color-primary-200);
  }
}
