@use "./../../scss/abstracts/mixins" as *;

.form-container {
  @include flex-mother();
  height: 100vh;
  .form {
    @include flex-mother(column, stretch, flex-start);
    width: 50%;
    min-width: 20rem;
    gap: 2.074rem;
    padding: 2.074rem;
    background-color: var(--color-primary-300);
    border: 1px solid var(--color-neutral-300);
    color: var(--color-text);
    &__addition {
      font-size: 0.833rem;
      text-align: center;
    }
    &__link:link,
    &__link:visited {
      color: var(--color-text);
    }
  }
}
