:root {
  --color-primary-400: hsl(235, 21%, 11%);
  --color-primary-300: hsl(235, 24%, 19%);
  --color-primary-200: hsl(234, 39%, 85%);
  --color-primary-200-hover: hsl(236, 33%, 92%);
  --color-primary-100: hsl(234, 11%, 52%);
  --color-neutral-400: hsl(233, 14%, 35%);
  --color-neutral-300: hsl(237, 14%, 26%);

  --color-text: hsl(0, 0%, 98%);

  --color-universal-400: hsl(220, 98%, 61%);
  --color-gradient-400: hsl(192, 100%, 67%);
  --color-gradient-300: hsl(280, 87%, 65%);
}

[data-theme="light"] {
  --color-primary-400: hsl(0, 0%, 98%);
  --color-primary-300: hsl(236, 33%, 92%);
  --color-primary-200: hsl(235, 24%, 19%);
  --color-primary-200-hover: hsl(236, 33%, 92%);
  --color-primary-100: hsl(236, 9%, 61%);
  --color-neutral-400: hsl(235, 19%, 35%);
  --color-neutral-300: hsl(237, 14%, 26%);
}
