@use "./../../../scss/abstracts/mixins" as *;

.form-item {
  @include flex-mother(column, flex-start, flex-start);
  gap: 0.33rem;
  width: 100%;
  &__label {
    font-weight: 600;
    padding-left: 1rem;
    color: var(--color-primary-200);
  }

  &__input {
    height: 3rem;
    width: 100%;
    border: 1px solid var(--color-neutral-300);
    border-radius: 6px;
    padding-left: 1rem;
    background-color: var(--color-primary-300);
    color: var(--color-primary-200);
    font-size: 1rem;
    font-family: inherit;
  }

  &__error {
    padding-left: 1rem;
    margin-top: 0.33rem;
    font-size: 0.833rem;
    color: var(--color-error);
  }
}
